@import '_globals';

:host {
  @include container;
  display: flex;
  flex-direction: column;
  padding-top: #{$header-height + ($spacing-base / 2)};

  @include mq(md) {
    padding-top: #{$header-height + $spacing-base};
  }
}
