<div class="input-group">
  <input type="search" [(ngModel)]="searchQuery" placeholder="Enter a word you wish to search from.." />
  <select [(ngModel)]="perPage">
    <option value="12">12 per page</option>
    <option value="24">24 per page</option>
    <option value="36">36 per page</option>
  </select>
  <button class="btn" [disabled]="!searchQuery" (click)="search(searchQuery, perPage)">Search</button>
  <button class="btn" [disabled]="photos.length === 0" (click)="clear()">Clear</button>
</div>
