<app-feed-header
  [searchQuery]="searchQuery"
  [perPage]="perPage"
  [photos]="photos"
  (clearEmitter)="clearHandler()"
  (searchEmitter)="searchHandler($event.searchQuery, $event.perPage)"
></app-feed-header>

<div class="card info" *ngIf="photos.length === 0 || currentQuery">
  <div class="card__body card__header">
    <h6 [style.margin.px]="0">
      <small>
        <ng-container *ngIf="photos.length === 0">
          No photos were found that match your search query, please try again.
        </ng-container>
        <ng-container *ngIf="photos.length > 0 && currentQuery">
          Showing results for: <b>{{ currentQuery }}</b>
        </ng-container>
      </small>
    </h6>
  </div>
</div>
<div class="cards-wrapper" [class.grid]="isGrid" *ngIf="photos">
  <app-feed-item *ngFor="let photo of photos" [photo]="photo"></app-feed-item>
</div>
