@import '_globals';

:host {
  .intro {
    h1 {
      font-size: modular-scale(2);
    }

    p {
      font-size: 1rem;
    }
  }

  .card.info {
    margin-bottom: #{$spacing-base / 2};

    h6 {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }

  .cards-wrapper {
    &.grid {
      display: grid;
      grid-gap: #{$grid-gutter/2};
      grid-template-columns: 1fr;

      @include mq(sm) {
        grid-template-columns: 1fr 1fr;
      }

      @include mq(md) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @include mq(lg) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
